@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.node {
  transition: all 0.1s ease-in-out;
}

.node:hover {
  transform: scale(1.2);
  outline: 2px solid gray;
}

.control-button {
  transition: all 0.1s ease-in-out;
}

.control-button:hover {
  transform: scale(1.05);
}
